/* Import scss colors (./styles/configs/colors.scss) */
@import './styles/configs/colors';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;

  gap: 2em;

  min-height: 80vh;

  margin: 1em 1em;
  padding: 1em;

  border: 1px solid $whiteSmoke;
  border-radius: 1em;
}
