/* Color Configs */

$eerieBlack: rgba(38, 38, 38, 1);
$jasmine: rgba(250, 220, 130, 1);
$platinum: rgba(210, 220, 220, 0.2);
$battleshipGrey: rgba(145, 145, 145, 1);
$roseQuartz: rgba(165, 160, 175, 1);
