/* Color Configs */

$eerieBlack: rgba(38, 38, 38, 1);
$jasmine: rgba(250, 220, 130, 1);
$whiteSmoke: rgba(245, 245, 245, 1);
$battleshipGrey: rgba(145, 145, 145, 1);
$roseQuartz: rgba(165, 160, 175, 1);
